
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgba(175, 173, 173, 0.906);
            color:rgb(92, 92, 92);
            font-family: 'popins',sans-serif;
        }
        nav{
            display: flex;
            justify-content:space-between;
            align-items:center;
            height: 50px;
            background-color:  rgba(239, 8, 8, 0.18) ;
            
        }
        nav ul{ 
            display:flex;
            justify-content:center;
        }
        nav ul li{
            list-style:none;
            margin: 0 15px;
        }
        nav ul li a{
            text-decoration: none;
            color:white;
        } nav ul li a:hover{
            color:black;
            font-size:1.05rem;
        }
        .left{
            font-size :1.5em;
            padding: 7px;
        }
        .left img{      
            border-radius: 10%;
        }
        .firstSection{
            display:flex;
            justify-content:space-around;
            margin: 23px 0;
        
                }
        .leftSection{
            /* background-color: red; */
            font-size:2.5rem;
            margin:40px 7vw;
        }
        .rightSection{
           width:.5px; 
            width:80%;
            height:20%;
        }
        .secondSection{
            max-width: 80vw;
            margin:auto;
        }
        .rightSection img{
            width: 300px ;
            margin: 15px;
            border-radius: 40pt;
            display: block;
            margin-left: auto;
             margin-right: 3vw;

        }
        .left img{
            width: 50px;
        }
    