* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    background-color: rgba(175, 173, 173, 0.906);
    color: rgb(72, 72, 72);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgba(239, 8, 8, 0.18);
    padding: 0 20px; /* Add padding to the nav */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
    height: 100%; /* Take full height of the nav */
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
    font-size: 1.05rem;
}

.left {
    font-size: 1.5em;
    padding: 7px;
}

.left img {
    border-radius: 10%;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Align items vertically */
    margin: 23px 0;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally */
}

.leftSection .small {
    font-size: 2rem;
    color: dimgray;
}

.leftSection .big {
    font-size: 2.5rem;
}
.rightSection {
    max-width: 80vw;
    margin: 0 auto; /* Center horizontally */
    display: flex; /* Use flexbox */
    justify-content: flex-end; /* Align items to the right */
    align-items: end; /* Center vertically */
}

.rightSection img {
    max-width: 100%; /* Adjust to container width */
    width: 300px; /* Set a fixed width */
    margin: 15px 0; /* Provide vertical margin */
    border-radius: 20px;
}
.secondSection {
    max-width: 80vw;
    display: block;
     margin-left: auto;
}

.left img {
    width: 50px;
}
